/* styles.css */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
}

/* ------banner------ */

.navbar {
    width: 100%;
    /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.507); */
    background-color: #ff5f1f;
    position: fixed;
    height:10vh;
}

.navbar .overlay {
    background-color: rgba(0,0,0,.64);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition-duration: .8s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.78,.13,.15,.86);
    visibility: hidden;
    width: 100vw;
    will-change: opacity;
    z-index: 0;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
    font-size: 1.6rem;
}

.nav-container {
    display: block;
    position: relative;
    height: 10vh;
} 

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index:6;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 3.5vh;
    left: 3.5vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #000000;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    background-color: #ffa60b;
    height: 100vh;
    width: 30%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    border-top-right-radius: 5vh;
    border-bottom-right-radius: 5vh;
    z-index: 10;
}

.navbar .menu-items li {
    margin-bottom: 2.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    z-index: -1;
    padding-left: 42%;
    padding-top: 1vh;
}

.logo img{
    width: 32vh;
    height: auto;
}

.navbar input[type="checkbox"]:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
}

.navbar input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* ------faq------ */

#faq{
    position: relative;
    z-index: -1;
    top: 70px;
    padding: 6vh;
    font-family: 'Roboto Slab', serif;
}

#faq h1{
    color:#ff4d00;
    text-align: center;
    font-size: 45px;
}

/* dropdown questions */
#faq-container{
    margin-left: 40vh;
    margin-right: 40vh;
    padding-bottom: 5vh;
    padding-top: 8vh;
}

.single-q{
    margin-bottom: 1vh;
}

.accordion {
    background-color: #ffeccde7;
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: 3px solid #ff9a00;
    border-radius: 2vh;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
    color:black;
}
  
.active, .accordion:hover {
    background-color: #ffd48ee7; 
}
  
.panel {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    background-color: #ffeccde7;
    border: 3px solid #ff9a00;
    border-radius: 2vh;
    display: none;
    overflow: hidden;
    line-height: 1.6;
    color:black;
}

/* legal */
#legal{
    font-family: 'Roboto Slab', serif;
    margin-top: 5vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

#legal a{
    color:black;
    padding: 12px;
    text-decoration: none;
}

#legal a:hover{
    text-decoration: underline;
}