@media only screen and (max-width: 479px) {

    /* ------banner------ */
    .navbar {
        height: 6.5vh;
    }

    .navbar .nav-container a {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .navbar .nav-container a:hover{
        font-size: 1.3rem;
    }

    .nav-container .checkbox {
        height: 22px;
        width: 22px;
    }

    .nav-container .hamburger-lines {
        height: 18px;
        width: 22px;
        left: 2vh;
        top: 2vh;
    }

    .nav-container .hamburger-lines .line {
        height: 2.5px;
    }

    .navbar .menu-items {
        width: 100%;
        background-color: #ffa60bd9;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .logo {
        padding-left: 32%;
    }

    .logo img{
        width: 19vh;
    }

    /* ------faq------ */

    #faq{
        top: 30px;
    }

    #faq h1{
        font-size: 25px;
    }

    /* dropdown questions */
    #faq-container{
        margin-left: 6%;
        margin-right: 6%;
        padding-bottom: 5vh;
        padding-top: 1vh;
    }

    .single-q{
        margin-bottom: 1.5vh;
    }

    .accordion {
        padding: 10px;
        border-radius: 1.5vh;
        font-size: 16px;
    }
    
    .panel {
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 1.5vh;
        line-height: 1.6;
    }

    /* legal */
    #legal{
        margin-top: 5vh;
    }

    #legal a{
        text-decoration: underline;
    }
}

