@media only screen and (max-width: 479px) {

    /* ------banner------ */
    .navbar {
        height: 6.5vh;
    }

    .navbar .nav-container a {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .navbar .nav-container a:hover{
        font-size: 1.3rem;
    }

    .nav-container .checkbox {
        height: 22px;
        width: 22px;
    }

    .nav-container .hamburger-lines {
        height: 18px;
        width: 22px;
        left: 2vh;
        top: 2vh;
    }

    .nav-container .hamburger-lines .line {
        height: 2.5px;
    }

    .navbar .menu-items {
        width: 100%;
        background-color: #ffa60bd9;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .logo {
        padding-left: 32%;
    }

    .logo img{
        width: 19vh;
    }

    /* ------content------ */
    #content{
        top: 30px;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    #content h1{
        font-size: 25px;
        margin-bottom: 4vh;
    }
}
