@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
    /* ------banner------ */

    .navbar {
        height:11vh;
    }

    .navbar .nav-container a {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .navbar .nav-container a:hover{
        font-size: 1.3rem;
    }

    .nav-container .checkbox {
        height: 28px;
        width: 28px;
    }

    .nav-container .hamburger-lines {
        height: 23px;
        width: 28px;
    }

    .navbar .menu-items {
        width: 35%;
    }

    .logo {
        padding-left: 40%;
    }

    .logo img{
        width: 33vh;
    }

    /* ------content------ */
    #content{
        top: 60px;
        margin-left: 3vh;
        margin-right: 3vh;
    }

    #content h1{
        font-size: 28px;
    }
}
